body,
h1,
h2,
h3,
h4,
p,
img{
    margin: 0;
}

h1,
h2,
h3,
h4,
p {
    font-weight: 400;
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

img{
    max-width: 100%;
    display: block;
}

:root{
    /*font-family*/
    --ff-sans-normal: 'Barlow', sans-serif;
    --ff-fraunces: 'Fraunces', serif;
    /*font sizes */
    --fs-800:3.5rem;
    --fs-700:2rem;
    --fs-600:1.125rem;
    --fs-500:1rem;
    --fs-400:0.9375rem;
    --fs-300:1rem;
    --fs-200:0.875rem;

    /*color*/
    --clr-Softred: 7 99% 70%;
    --clr-Yellow: 51 100% 49%;
    /*color for grapgic design text*/
    --clr-Darkdesaturated: 167 40% 24%;
/*color for photography text*/
    --clr-Darkblue: 198 62% 26%;
/*color for footer*/
     --clr-Darkmoderate:168 34% 41%;
     --clr-Verydarkdesaturatedblue: 212 27% 19%;
     --clr-Verydarkgrayishblue:213 9% 39%;
    --clr-Darkgrayishblue: 232 10% 55%;
    --clr-Grayishblue: 210 4% 67%;
 --clr-White: 0 0% 100%;
}
body{
    font-size: var(--fs-600);
    background-color: papayawhip;

  
}

/*typography*/

.ff-sans-normal {font-family:var(--ff-sans-normal) ;}
.ff-fruances {font-family: var(--ff-fraunces);}

.letter-spacing-1{letter-spacing: 2px;};

.fs-800 { font-size: var(--fs-800);}
.fs-700 {font-size: var(--fs-700);}
.fs-600 {font-size: var(--fs-600);}
.fs-500 {font-size: var(--fs-500);}
.fs-400 {font-size: var(--fs-400);}
.fs-300 {font-size: var(--fs-300);}
.fs-200 {font-size: var(--fs-200);}

.uppercase{
    text-transform: uppercase;
}
.text-darkblue{color: hsl(var(--clr-Darkblue));}
.text-darksaturated{color: hsl(var(--clr-Darkdesaturated));}
.text-verydarksaturated{color: hsl(var(--clr-Verydarkdesaturatedblue));}
.text-verydarkgrayish{color: hsl(var(--clr-Verydarkgrayishblue));}
.text-darkgrayishblue{color: hsl(var(--clr-Darkgrayishblue));}
.text-grayishblue{color: hsl(var(--clr-Grayishblue));}
.text-yellow{color: hsl(var(--clr-Yellow));}

/*utilty classes*/
.flex{
    display: flex;
}

/* to center text */
.transform{
    text-align: center;
    margin-top: 2rem;
   
}
.transform>h3{
   margin-top: 5rem;
}
.transform>p{
    margin-top: 2rem;
}

.text{
 margin-inline: 2rem;
}
 .more{
display: inline-block;
position: relative;
} 

.more::after{
content: '';
position: absolute;
background: hsl(var(--clr-Yellow)/ .5);
height: 1em;
width: 100%;
left: 0;
top: 50%;
z-index: -1;
}

/*This css is used to put paragraph on top of pictures*/
.container{
    position: relative;
}

.graphic{
    position: absolute;
    bottom: 3.75rem;
}

.menu-positioning{
    position: absolute;
    bottom: 60px;
    top: 8rem;
    right: 9rem;
}

@media (min-width:35rem){ 
    .header-text{
        margin-top: 7rem;
        position: relative;
        right: 8rem;
        margin: 7rem; 
        text-align: center;
        justify-content: center;
    }
    
    .header-text> h3{
        font-size: 2rem;
        color: hsl(var(--clr-White));
    }
    /* .desktop-layout{
        display: flex;
       } */
       .grid-container-1{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
       }
       .image1{
        grid-column: 2 / 3;
           
       }
       .text-1{
           grid-column: 1 / 2;
           grid-row: 1 / 2;
       }
       .transform{
        text-align: center;
        
    }
    .transform--1{
        text-align: center;
      
    }
     
    .transform--1>p{
        margin-top: 3.3rem;
    }

    .testimonials{
        display: flex;
    }

    .testimony{
        height: 35rem;
        border: 1px solid;
    }
    .testimony img {
        margin-inline: auto;
        margin-top: 2rem;
        border-radius: 50%;
        background-color: hsl(var(--clr-Yellow));
    }
    .testimony> span{
        margin-top: 2rem;
    }
     .gallery{
         display:block;
     }

}

/*our css*/
header{
    height: 200vh;
     background-image: url(./images/mobile/image-header.jpg); 
    background-size: cover;
    background-position: center center;
}
.logo{
    position: absolute;
    top:1rem;
}

.logo>img{
    padding: 1.25rem; 
}


.header-text{
    position: absolute;
    margin: 3rem;
    /* position: absolute;
    margin: 7rem; */
    text-align: center;
    justify-content: center;
}

.header-text> h3{
    font-size: 2rem;
    color: hsl(var(--clr-White));
}

.arrow{
    position: absolute;
    justify-content: center;
    margin-top: 15rem;
    right: 14rem;
}
.arrow img{
    margin-inline: auto;
}

.primary-header {
    justify-content: space-between;
    align-items: center;
}
.primary-navigation{
    position:absolute;
    list-style: none;
    flex-direction: row;
    column-gap: 1rem;
    padding: 1.25rem; 
    top:1rem;
    right: 0rem;
    height: 3%;
    width: 50%;
    font-size: 20px;
    justify-content: flex-end;
    /* position: fixed;
    text-align: center;
    margin:2rem;
    z-index: 1000; */
}

.primary-navigation a {
    text-decoration: none;
    color: hsl(var(--clr-White))
}
.contact{
    padding: .3rem;
    color: black;
    background-color: yellow;
    border: 1px solid;
    border-radius: 30%;
}
.mobile-nav-toggle{
    display: none;
}
@media (max-width:35rem){
    .primary-navigation{
        list-style: none;
        flex-direction: column;
        background-color: hsl(var(--clr-White));
        row-gap: 1rem;
        margin: 1.5rem 15rem;
        top:9rem;
        left:-6rem;
        height: 30%;
        width: 60%;
        position: fixed;
        z-index: 1000;
        justify-content: flex-end;
        text-align: center;
        /* position: fixed;
        text-align: center;
        margin:2rem;
        z-index: 1000; */
      
    }
    
    .primary-navigation a {
        text-decoration: none;
        color: hsl(var(--clr-Darkgrayishblue)) 
    }
    
    .mobile-nav-toggle{
        display: block;
        position: absolute;
        z-index: 2000;
        right: 0rem;
        top: 0rem;
        background: transparent;
        background-image: url(./images/icon-hamburger.svg);
        background-repeat: no-repeat;
        aspect-ratio: 1;
        margin: 1.25rem;
        width: 2rem;
        border: 0;
    }

}
.testimony img {
    margin-inline: auto;
    border-radius: 50%;
    background-color: hsl(var(--clr-Yellow));
}

.testimony>span{
    margin: 2rem 0;
 
}

.gallery{
    display: grid;
     grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
footer{
    background-color: rgb(121, 179, 121);
}
.title{
    margin-inline: 0 auto;
    padding: 2rem 0;
    text-align: center;
}
.ft-main{
    justify-content: space-around;
}

.ft-social{
    padding: 0 1.875rem 1.25rem;
}
.ft-social-list{
    justify-content:center;
    padding-top: 1.25rem;
}

.ft-social-list li{
    margin: 1rem;
}


    
